      <tr>
        <th style="text-align:left;width:28%">Fonds / Véhicule</th>
        <th>Cap. engagé</th>
        <th>Cap. appelé</th>
        <th>Non appelé réel</th>
        <th style="color:var(--gold-light);">Non appelé estimé</th>
        <th>MOIC</th>
        <th style="padding-right:12px">VL</th>
      </tr>
