      <tr>
        <th style="text-align:left;width:26%">Contrat / Poche</th>
        <th>Date inv.</th>
        <th>Nant.</th>
        <th>Nominal investi</th>
        <th>Gain €</th>
        <th>Gain %</th>
        <th>Gain % YTD</th>
        <th style="padding-right:12px">Valeur au {{ reporting.date_reporting | frdate }}</th>
      </tr>
